.form-icon-required{display:inline-block;color: #f03;margin-left: 3px;width: 10px;height: 10px;}
.form-error{color: #f03;font-size: 12px;display: block;position: relative;top: 2px;width: 180px;padding-bottom:4px;}














